body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  width: 1600px;
  margin: auto;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.page-header {
  height: 80px;
}
.header__info-first {
  display: inline;
}
.header__info-first > ul {
  display: inline;
}
.header__site-nav li,
.header__contact li {
  display: inline;
  padding: 25px;
}
.logo {
  font-size: 26px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3%;
  font-weight: 700;
  line-height: 30.52px;
  padding-left: 215px;
  padding-right: 68px;
}
.contact {
  padding-right: 201px;
}
.studio:hover,
.portfolio:hover,
.contact:hover,
.email:hover,
.telephone:hover {
  color: #2196f3;
}
.header__button {
  height: 600px;
  background-image: url('/images/Bg.jpg');
  text-align: center;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 6%;
}
.header__button h1 {
  display: block;
  padding: 200px 452px 30px;
}
.header__button-title {
  width: 696px;
  height: 120px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
}
.header__button-button {
  padding: 10px 32px 10px;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
}
.main__details {
  width: 1170px;
  height: 101px;
  padding-left: 215px;
  padding-right: 215px;
}

.main__details li {
  display: inline-block;
  width: 270px;
}
.second {
  padding-left: 15px;
  padding-right: 15px;
}
.main__details-info > h3 {
  padding-bottom: 10px;
  padding-top: 94px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.main__details-info > p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
